server:
  port: 6842

application:
  version: @project.version@

spring:
  application:
    name: syncserver
  datasource:
    url: jdbc:h2:file:/data/habittracker-db
    driverClassName: org.h2.Driver
    username: sa
    password: password
    hikari:
      schema: PUBLIC
  flyway:
    enabled: true
    locations: classpath:db/migration/{vendor}
    baseline-on-migrate: true
    baseline-version: 0.0.1
    schemas: PUBLIC
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: # Leave empty, handled in code
  mail:
    enabled: false
    host: <host>
    port: 587
    username: <mail-username>
    password: <mail-password>
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  quartz:
    job-store-type: jdbc
    properties:
      org:
        quartz:
          scheduler:
            instanceName: HabitSyncScheduler
            instanceId: AUTO
          jobStore:
            class: org.quartz.impl.jdbcjobstore.JobStoreTX
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            tablePrefix: QRTZ_
            isClustered: false
            useProperties: false
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 10
            threadPriority: 5
            threadsInheritContextClassLoaderOfInitializingThread: true

management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health